<div class="w-full overflow-hidden bg-[#f8f3ed]">
  <svg
    viewBox="0 20 1040 700"
    xmlns="http://www.w3.org/2000/svg"
    class="w-full text-[6rem] uppercase tracking-[2px]"
  >
    <path
      id="curve"
      d="M 0,7000 C 0,7000 0,350 -50,350 C 152.13333333333333,306 304.26666666666665,262 445,298 C 585.7333333333333,334 715.0666666666668,450 879,472 C 1042.9333333333332,494 1241.4666666666667,422 1440,350 C 1440,350 1440,700 1440,700 Z"
      fill="transparent"
    />

    <text x="-2000">
      <textPath href="#curve">
        CURVE MARQUEE • CURVE MARQUEE • CURVE MARQUEE • CURVE MARQUEE •
        CURVE MARQUEE • CURVE MARQUEE • CURVE MARQUEE • CURVE MARQUEE •
        CURVE MARQUEE • CURVE MARQUEE • CURVE MARQUEE • CURVE MARQUEE •
        CURVE MARQUEE • CURVE MARQUEE • CURVE MARQUEE • CURVE MARQUEE •
      </textPath>

      <animate
        attributeName="x"
        dur="30s"
        values="-4000;0"
        repeatCount="indefinite"
      />
    </text>
  </svg>
</div>